<%- include("./includeMenuBar")%>
    <div class="row" style="margin-top: 10rem;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a href="/admin/deActveSellers">
                        <div class="databox radius-bordered bg-white">
                            <div class="databox-right bg-themesecondary">
                                <div class="databox-piechart">
                                    <i class="stat-icon  icon-lg fa fa-envelope-o"></i>
                                </div>
                            </div>
                            <div class="databox-left">
                                <span class="databox-number themesecondary">
                                    <%= sellers %>
                                </span>
                                <div class="databox-text darkgray">درخواست های جدید</div>
                                <div class="databox-stat themesecondary radius-bordered">
                                    <i class="stat-icon  icon-lg fa fa-envelope-o"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox radius-bordered bg-white">
                        <div class="databox-right bg-themethirdcolor">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff"
                                    data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3"
                                    data-size="47" data-trackcolor="rgba(255,255,255,0.2)">
                                    <i class="stat-icon icon-lg fa fa-street-view"></i>
                                </div>
                            </div>
                        </div>
                        <div class="databox-left">
                            <span class="databox-number themethirdcolor">
                                <%= users %>
                            </span>
                            <div class="databox-text darkgray">کاربران</div>
                            <div class="databox-stat themethirdcolor radius-bordered">
                                <i class="stat-icon icon-lg fa fa-street-view"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox radius-bordered bg-white">
                        <div class="databox-right bg-themethirdcolor">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff"
                                    data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3"
                                    data-size="47" data-trackcolor="rgba(255,255,255,0.2)">
                                    <i class="stat-icon icon-lg fa fa-street-view"></i>
                                </div>
                            </div>
                        </div>
                        <div class="databox-left">
                            <span class="databox-number themethirdcolor">
                                <%= blogs %>
                            </span>
                            <div class="databox-text darkgray">درخواست های تایید نشده</div>
                            <div class="databox-stat themethirdcolor radius-bordered">
                                <i class="stat-icon icon-lg fa fa-street-view"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>