<%- include("../includeMenuBar")%>

    <div class="col-xs-12" style="margin-top: 10rem;">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-danger">
                <span class="widget-caption">ساخت برچسب</span>
            </div>
            <div class="widget-body">
                <div id="registration-form">
                    <form role="form" action="/admin/createtag" method="POST">
                        <div class="form-title">
                            <%- include("../../includes/message") %>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="category">نام برچسب  </label>
                                    <span class="input-icon icon-right">
                                        <input type="text" class="form-control" name="name" id="category"
                                            placeholder="مثال : زیرپیراهنی">
                                        <i class="fa fa-table blue"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-danger">ایجاد دسته بندی</button>
                    </form>
                </div>
            </div>
        </div>
    </div>