<% if (typeof alerts !=="undefined" ) {%>
    <% alerts.forEach(function (alerts) { %>
        <p style="color: rgb(202, 29, 29);">
            <%= alerts.alert %>
        </p>
        <% }) %>
            <%}%>