<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a href="/seller/dashboardSeller" class="nav-link active">اطلاعات فروشگاه</a></li>
        <li><a href="/seller" class="nav-link">تمام محصولات</a></li>
        <li><a href="/seller/createProduct" class="nav-link">ساخت محصول</a></li>
        <li><a href="/user/myaccount" class="nav-link">بازگشت به پنل کاربری</a></li>
    </ul>
</div>