<%- include("./includeBreadCrumb") %>
    <div class="customer_login mt-60">
        <div class="container">
            <div class="row">
                <!--register area start-->
                <div class="col-lg-6 col-md-6 offset-lg-3 offset-md-3">
                    <div class="account_form register">
                        <h2>بازیابی رمز عبور</h2>
                        <%- include("../includes/message") %>
                            <%- include("../includes/alert") %>
                                <form action="/auth/resetpass" method="post">
                                    <p>
                                        <label>شماره همراه<span>*</span></label>
                                        <input type="" name="mobile">
                                    </p>
                                    <p>
                                        <label>کد امنیتی<span>*</span></label>
                                        <input type="" name="token">
                                    </p>
                                    <p>
                                        <label>کلمه عبور جدید<span>*</span></label>
                                        <input type="password" name="password">
                                    </p>
                                    <div class="login_submit">
                                        <button type="submit">بازیابی رمز عبور</button>
                                    </div>
                                </form>
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div>
    <button class="g-recaptcha" style="display: none;" data-sitekey="6Lc9mpMcAAAAAEu1xOZxmz8OpAjr8DToN7F5wpMQ"
        data-callback='onSubmit' data-action='submit'>Submit</button>